<div style="width: 60%; margin: auto;">
  <% if @total_votes > 0 %>
  <% @percent_for = 100 * @for / @total_votes.to_f %>
  <% @percent_against = 100 * @against / @total_votes.to_f %>
  <h3 style="color:#aaa;text-align:center;margin:auto auto 0px auto;"><%= @total_votes %> Vermonters care about this issue!</h3>
  <div style="float:left;width:50%;text-align:center;">
    <h2><strong>In favor:</strong> <%= @percent_for.round %>%</h2>
  </div>
  <div style="float:right;width:50%;;text-align:center;">
    <h2><strong>Against:</strong> <%= @percent_against.round %>%</h2>
  </div>
  
  <div style="margin-bottom: 24px; height: 36px; background-color: #0f0; float:left;width:<%= @percent_for %>%; border-top-left-radius: 18px; border-bottom-left-radius: 18px;"></div>
  <div style="margin-bottom: 24px; height: 36px; background-color: #f00; float:right;width:<%= @percent_against %>%; border-top-right-radius: 18px; border-bottom-right-radius: 18px;"></div>

  <% else %>
    <h2 style="text-align:center;">
      No one has expressed their opinion, yet.
      <br/><b>Why don't you be the first?</b>
    </h2>
  <% end %>
</div>


<div>

<div style="float: right; width: 64%;">

<p>
	<b>Sponsored by:</b>
	<% (0...@authors.length-1).each do |n| %>
		<%= @authors[n]["name"].split(", ").reverse.join(" ") %>, 
	<% end %>
	<% if @authors.length > 1 %>and <% end %><%= @authors.last["name"].split(", ").reverse.join(" ") %>
</p>
<p>
  <%= link_to "Find out more about this bill", @link, target: "_blank" %>
</p>
<p>
  Comments:
  <% @comments.each do |comment| %>
    <br/><%= comment.text %>
  <% end %>
</p>

</div>

<div style="float: left; width: 33%; box-shadow: 0px 0px 5px #aaa;">
<div style="padding: 12px;">
<h2>What do you think?</h2>

<%= form_for(@vote) do |f| %>

<div class="field">
  <input id="vote_in_favor" name="vote[in_favor]" type="radio" value="1" /> I support this bill.
  <br/>
  <input id="vote_against" name="vote[in_favor]" type="radio" value="0" /> I'm against this bill.
</div>

  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= f.label :poll_id %><br>
    <%= f.text_field :poll_id %>
  </div>

  <div class="field" style="display:none;">
    <%= f.label :bill_id %><br>
    <%= f.text_field :bill_id %>
  </div>

  <div class="field">
    <%= f.text_field :email, class: "text-input rounded", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.text_field :zip, class: "text-input rounded", placeholder: "Zip Code"  %>
  </div>

  <div class="actions">
    <%= f.submit "Vote!", style: "color: #fff; background-color:#aaa; height: 48px; width: 128px; font-size: 24px; border: solid 0px black; cursor: pointer;" %>
  </div>
<% end %>
</div>

</div>

</div>