<h1>Welcome to Demos!</h1>

<div style="width: 60%; margin: auto;">

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th width=40%>Title</th>
      <th width=40%>Authors</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each_with_index do |poll, index| %>
      <tr>
        <td><%= link_to poll.bill, poll %></td>
        <td><%= @titles[index] %></td>
        <td>
        <% @authors[index].each do |author| %>
      <a href="/polls"><%= author['name'] %></a>, 
    <% end %>
        </td>
        <td>View bill:<i><%= @links[index] %></i></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="right" style="">

</div>
<br>

<%= link_to 'New Poll', new_poll_path %>