<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @poll.bill %>
</p>

<p>
  <strong>Question:</strong>
  <%= @poll.question %>
</p>

<p><strong>In favor:</strong> <%= @for %></p>
<p><strong>Against:</strong> <%= @against %></p>

<p>
  <strong>Creator:</strong>
  <%= @poll.creator_id %>
</p>

<%= form_for(@vote) do |f| %>

  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.text_field :poll_id %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :zip, "Zip Code" %><br>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.check_box :in_favor %>
    <%= f.label :in_favor, "I support this bill!" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
