<!DOCTYPE html>
<html>
<head>
  <title>VtPoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="max-width: 1000px; margin: auto;">
	<div id="secondaryContent">
		<%= render 'common/session' %>
	</div>
	<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
	<% end %>
	<%= yield %>

</body>
</html>
