<!DOCTYPE html>
<html>
<head>
  <title>VtPoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="padding: 0px; margin: 0px; background-color: #ddd;">

<div style="max-width: 1000px; margin: auto;">

<div id="secondaryContent" style="background-color: #fff; padding: 8px; margin:0px;">
	<%= render 'common/session' %>
</div>

<% if @title %>
<div style="margin-top: 0px; background-color: #68b9fb;">
<h1 style="margin: 0px; text-align: center; line-height: 1.2em; font-family: 'Georgia'; color: #fff; text-shadow: -2px -1px 0 #206eb1;"> 
	<%= @title %>
</h1>
</div>
<% end %>

<div style="max-width: 1024px; padding: 24px; margin: auto; background-color: #fff;">
<div style="min-height: 600px;">

<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>

</div>

<hr/>

<p style="text-align: right;">
	<a href="https://github.com/mg41/hackvt2013" target="_blank">About</a>
	 | <a href="https://github.com/mg41/hackvt2013" target="_blank">Github</a>
</p>

</div>

</div>

<img src="http://i.imgur.com/Jvgnd1Q.jpg" style="width:100%; opacity: 0.5;" />

<script>

function isValidUSZip(sZip) {
   return /^\d{5}(-\d{4})?$/.test(sZip);
}

function isValidEmail(email) { 
    return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
} 

$("#new_vote").submit(function( event ) {
  var email = $("#vote_email").val();
  var zip = $("#vote_zip").val();
  if (isValidEmail(email) == false) {
    $("#vote_email").val("");
    $("#vote_email").attr("placeholder","Email is invalid");
    $("#vote_email").css("background-color","#ffcccc");
    event.preventDefault();
  }
  if ( email == "") {
    $("#vote_email").attr("placeholder","Required");
    $("#vote_email").css("background-color","#ffcccc");
    event.preventDefault();
  }
  if (isValidUSZip(zip) == false) {
    $("#vote_zip").val("");
    $("#vote_zip").attr("placeholder","Zip code is invalid");
    $("#vote_zip").css("background-color","#ffcccc");
    event.preventDefault();
  }
  if ( zip == "") {
    $("#vote_zip").attr("placeholder","Required");
    $("#vote_zip").css("background-color","#ffcccc");
    event.preventDefault();
  }
});
</script>


</body>
</html>
